{% extends 'base.html.twig' %}
{% block body %}
    <div>
        {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <div>
        {% if orders|length %}
            <table class="orders-admin">
                <tr>
                    <th>id</th>
                    <th>Quantity</th>
                    <th>Color</th>
                    <th>Needed by Date</th>
                    <th>Widget Type</th>
                    <th>Status</th>
                </tr>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.color }}</td>
                        <td>{{ order.neededBy|date("D, d M Y")  }}</td>
                        <td>{{ order.widgetType }}</td>
                        <td>{{ order.status }} (<a title="Change this status" href="{{ url('app_widgetorderadmin_setstatus', {'id': order.id}) }}">Change</a>)</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            There are no orders at the moment.
        {% endif %}
    </div>
    <div>
        <a title="Go to home page" href="{{ url('app_index_index') }}">Home</a>
    </div>
{% endblock %}