<h3>Details of your Widget Order</h3>
<ul>
    <li>ID: {{ order.id }}</li>
    <li>Quantity: {{ order.quantity }}</li>
    <li>Color: {{ order.color }}</li>
    <li>Widget Type: {{ order.widgetType }}</li>
    <li>Needed by Date: {{ order.neededBy|date("D, d M Y")  }} </li>
    <li>Status: </li>
</ul>


